<a href="https://colab.research.google.com/github/IrinaBoyarchukova/OsnovePython/blob/main/1__PhAnalysis_Seminar_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import numpy as np
import random

In [ ]:
data = {'salary': 8000}
data.setdefault('salary', 7000)

8000

In [ ]:
[i for i in range(5) if i % 2 == 0]

[0, 2, 4]

In [ ]:
{i for i in range(5)} # set

{0, 1, 2, 3, 4}

In [ ]:
{i: i for i in range(5)} # dict

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4}

1.1 Соедините два словаря в один


1.2 Напишите функцию, которая на вход принимает два словаря и возвращает один объединенный словарь
Используйте аннотирование типов

In [ ]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
def two_dictionaries(dict1: dict, dict2: dict) -> dict:
  return dict1

In [ ]:
# Не создает 3-й словарь. Первый дописывает.

dict1.update(dict2)
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
def two_dictionaries(dict1: dict, dict2: dict) -> dict:
  for key, value in dict2.items(): # Чтобы dictionary стал callable
    dict1[key] = value
  return dict1

In [ ]:
two_dictionaries(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}


---
Напишите функцию, которая из двух списков, делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения <br>Используйте аннотирование типов <br>2.1 Используя цикл for <br>2.2 Используя dict comprehensions 

---

In [ ]:
keys = ['One', 'Two', 'Three'] 
values = [1, 2, 3]

In [ ]:
def two_lists(keys_list: list, values_list: list) -> dict: 
  dict_result = dict() 
  for i in range(len(keys_list)): 
    dict_result[keys_list[i]] = values_list[i] 
  return dict_result

In [ ]:
two_lists(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

In [ ]:
def two_list(keys_list: list, values_list: list) -> dict: 
  return {keys_list[i]: values_list[i] for i in range(len(keys_list))} 
  keys = ['One', 'Two', 'Three'] 
  values = [1, 2, 3] 
  two_list(keys, values)


---
3.1 Напишите функцию с циклом for <br>Функция на вход принимает: исходный словарь ключи, которые нужно извлечь (аргумент по умолчанию) <br>На выходе словарь с нужными ключами <br>Используйте аннотирование типов <br>3.2 Используя dict comprehensions 

---

In [ ]:
client_dict = { 
    "name": "John", 
    "age": 25, 
    "salary": 5000, 
    "city": "Moscow" }

In [ ]:
def dict_replace(dictionary: dict, list_keys=['name', 'age']) -> dict: 
  dict_result = dict() 
  for keys in list_keys: dict_result[keys] = dictionary[keys] 
  return dict_result 
client_dict = { "name": "John", "age": 25, "salary": 5000, "city": "Moscow" } 
dict_replace(client_dict, ['city']) # Задали значение вместо того, которое по умолчанию.

{'city': 'Moscow'}

In [ ]:
# Выводит список, заданный по умолчанию.

dict_replace(client_dict)

{'name': 'John', 'age': 25}

In [ ]:
def dict_replace(dictionary: dict, list_keys=['name', 'age']) -> dict: 
  dict_result = dict() 
  for keys in list_keys: dict_result[keys] = dictionary[keys]

In [ ]:
dict_replace(client_dict)

{'name': 'John', 'age': 25}

In [ ]:
def dict_replace(dictionary: dict, list_keys=['name', 'age']) -> dict: 
  return {i: dictionary[i] for i in list_keys} 
  client_dict = { "name": "John", "age": 25, "salary": 5000, "city": "Moscow" } 
  dict_replace(client_dict)

4.1 Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random Зафиксируйте псевдогенерацию, чтобы сгенерированные значения всегда были одинаковые Используйте list comprehensions

In [ ]:
random.seed(0)
x = [x for x in range(101)]
random.sample(x, 5)

[49, 97, 53, 5, 33]

In [ ]:
from random import seed, sample 
seed(3) 
random_numbers = [i for i in range(101)] 
sample(random_numbers, 5)

[30, 75, 69, 16, 47]

4.2* Напишите генератор <br>Генератор на вход принимает список с данными о клиенте (данные из пункта 4.1) <br>Внутри генератора реализуйте обход по списку с данными <br>На каждой итерации генератор будет возвращать кортеж из двух элементов: <br>данные по клиенту (в зависимости от итерации, <br>на 0 итерации вернется 0 элемент, <br>на 1 итерации вернется 1 элемент и тд) целочисленное значение, которое показывает, сколько секунд прошло с предыдущей итерации <br>Примечание: секунды, которые возвращаются должны показывать время не с начала запуска генератора, а именно то время, которое прошло с предыдущей итерации. <br>А значит время на первой итерации должно равняться 0. <br>Используйте функцию time из модуля time для подсчета времени. <br>Чтобы проверить работу таймера, запустите проход по генератору в цикле с time.sleep(2)

In [ ]:
from random import seed, sample 
from time import time, sleep 
def client(list_numbers) -> tuple: 
  for i in list_numbers: 
    print((i, time())) 
    sleep(2)

In [ ]:
seed(3) 
random_numbers = [i for i in range(101)] 
client(sample(random_numbers, 5))

(30, 1676623473.261641)
(75, 1676623475.2638159)
(69, 1676623477.2660298)
(16, 1676623479.2682157)
(47, 1676623481.269395)

In [ ]:
from random import seed, sample 
from time import time, sleep, ctime 
def client(list_numbers) -> tuple: 
  for i in list_numbers: 
    print((i, time(), ctime())) 
    sleep(2)

In [ ]:
seed(3) 
random_numbers = [i for i in range(101)] 
client(sample(random_numbers, 5))

(30, 1676860384.218965, 'Mon Feb 20 02:33:04 2023')
(75, 1676860386.22243, 'Mon Feb 20 02:33:06 2023')
(69, 1676860388.2244394, 'Mon Feb 20 02:33:08 2023')
(16, 1676860390.2274373, 'Mon Feb 20 02:33:10 2023')
(47, 1676860392.2294445, 'Mon Feb 20 02:33:12 2023')

5.1 Найдите картинку в интернете и прикрепите её в ячейку с текстом
<br>5.2 Создайте следующую таблицу в ячейке с текстом

<img src='https://i.artfile.ru/2304x1536_959728_[www.ArtFile.ru].jpg'>

<div style='background: pink'>

| | ДО СОБЫТИЯ | ВО ВРЕМЯ СОБЫТИЯ | 

| ------ | ---------- | :--------------: | 

| 1-я контрольная точка | 350 | 500 | 

| 2-я контрольная точка | 350 | 700 | 

| 3-я контрольная точка | 400 | 800 | 

| Итого за победу | 1000 | 2000 | 
</div>

<div style='background: yellow'> 
| | ДО СОБЫТИЯ | ВО ВРЕМЯ СОБЫТИЯ 
| | ------ | ---------- | :--------------: 
| | 1-я контрольная точка | 350 | 500 
| | 2-я контрольная точка | 350 | 700 
| | 3-я контрольная точка | 400 | 800 
| | Итого за победу | 1000 | 2000 | 
</div>

Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее. На вход поступают целочисленные значения в любом количестве На выходе словарь с ключами суммы трат и средней траты

In [ ]:
def price(*list_sum) -> dict: 
  return {'Сумма трат': sum(list_sum), 
          'Среднее арифм.': sum(list_sum) / len(list_sum)}

In [ ]:
price(10000, 1500, 237, 60, 60)

{'Сумма трат': 11857, 'Среднее арифм.': 2371.4}