<a href="https://colab.research.google.com/github/IrinaBoyarchukova/OsnovePython/blob/main/HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Урок 1. Оформление ноутбука и закрепление функций и генераторов**
# Задание 1:

 Оформляйте ноутбук, используя эти советы:
Номер задачи - заголовок 2
Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код
Рекомендации для преподавателей по оценке задания:
Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

# Заголовок 2

## Заголовок 3

# Задание 2:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [ ]:
total_fruits = {'banana': 5, 'mango': 7, 'apple': 8}
total = 0
 
for item in total_fruits.values():
    total += item
print(total)

20

# Задание 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [2]:
list = [100, 125, -90, 345, 655, -1, 0, 200]
print("Первоначальный список: ", list)
for i in list:
  if(i < 0):
    list.remove(i)
print("Список после удаления неверных данных: ", list)
# можно также оформить через цикл for
kol = 0
i = 0
for i in list:
  kol += i 
print("Суммарные затраты: ", kol)
# можно с помощью функции sum(), но она перестала работать, так как я создал переменную с таким же названием

Первоначальный список:  [100, 125, -90, 345, 655, -1, 0, 200]
Список после удаления неверных данных:  [100, 125, 345, 655, 0, 200]
Суммарные затраты:  1425

In [3]:
# для примера
list = [100, 125, -90, 345, 655, -1, 0, 200]
print(sum(list))
# не работает

1334

## Задание 4.1:

Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
## 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [52]:
def dict_replace(dictionary: dict, list_keys=['data_product', 'price_product']) -> dict:
    return {i: dictionary[i] for i in list_keys}
client_dict = {
    "data_product": "2021-09-14", #"2021-12-15",  "2021-09-08", "2021-12-05", "2021-10-09", "2021-09-30", "2021-12-22", "2021-11-29", "2021-12-24", "2021-11-26", "2021-10-27", "2021-12-18", "2021-11-09", "2021-11-23", "2021-09-27", "2021-10-02", "2021-12-27", "2021-09-20", "2021-12-13", "2021-11-01", "2021-11-09", "2021-12-06", "2021-12-08", "2021-10-09", "2021-10-31", "2021-09-30", "2021-11-09", "2021-12-13", "2021-10-26", "2021-12-09",
    "price_product": 1270, # 8413 , 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887
}
dict_replace(client_dict)

{'data_product': '2021-09-14', 'price_product': 1270}

In [47]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',
        '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
        '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
        '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
money = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592,
         2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
print(sum([m for d, m in zip(date, money) if d[5:7] == "11"]))

25098

In [48]:
def revenue_of_month(data, month_num):
    d = {}
    for i in range(len(data)):
        d[data[i]] = d.get(data[i], 0) + month_num[i]
    return d
 
 
s1 = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',
      '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
      '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
      '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
s2 = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592,
      2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
 
print(sum(s2[i] for i in range(len(s1)) if '-11-' in s1[i]))
print(revenue_of_month(s1, s2))

25098
{'2021-09-14': 1270, '2021-12-15': 8413, '2021-09-08': 9028, '2021-12-05': 3703, '2021-10-09': 8471, '2021-09-30': 6103, '2021-12-22': 295, '2021-11-29': 4944, '2021-12-24': 5723, '2021-11-26': 3701, '2021-10-27': 4471, '2021-12-18': 651, '2021-11-09': 10175, '2021-11-23': 4274, '2021-09-27': 6275, '2021-10-02': 4988, '2021-12-27': 6930, '2021-09-20': 2971, '2021-12-13': 12925, '2021-11-01': 2004, '2021-12-06': 519, '2021-12-08': 3406, '2021-10-31': 5015, '2021-10-26': 5700, '2021-12-09': 2887}

## 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [51]:
dt = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
# Суммы покупок по датам
sm = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
 
import pandas as pd
import datetime
 
df = pd.DataFrame()
df['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in dt]
df['Sum'] = sm
df['Month'] = pd.DatetimeIndex(df['Date']).month
df.groupby('Month').sum()

         Sum
Month
9      25647
10     28645
11     25098
12     45452